/02 Tarea Números Par-Impar/Border/nbproject/private/
/03 Botones/JavaApplication7/nbproject/private/
/03 Botones/Manejador/nbproject/private/
/03 Botones/Manejador/build/
/06 GaleriaV1 /Galeria/target/
/04 Ventana Grafica/Prueba/build/
/05  Tarea3/Bolita/build/
/05  Tarea3/Bolita/nbproject/private/
/07 Tarea5 bd/Usuario/target/
/07 Tarea5 bd/InterfazGrafica/target/
/06 Tarea 4 GaleriaV2 /Galeria/target/
/05 Tarea3/Bolita/build/
/05 Tarea3/Bolita/nbproject/private/
/05 Tarea 2/Ventana/target/
/05 Tarea2/Ventana/target/
